{:paths ["src"]
 :tools/usage {:ns-default jibbit.core
               :ns-aliases {jib jibbit.core}}
 :deps {io.github.clojure/tools.build 
        {:git/url "https://github.com/clojure/tools.build" :git/tag "v0.8.1" :git/sha "7d40500863818c6f9a6e077b18db305d02149384" :exclusions [com.google.guava/guava]}
        #_{:git/url "https://github.com/clojure/tools.build" :git/tag "v0.7.5" :git/sha "2526f58"}
        #_{:git/url "https://github.com/clojure/tools.build" :git/tag "v0.7.6" :git/sha "3549b5f" :exclusions [com.google.guava/guava]}
        com.google.cloud.tools/jib-core {:mvn/version "0.20.0"}
        com.cognitect.aws/api {:mvn/version "0.8.539"}
        com.cognitect.aws/ecr {:mvn/version "814.2.1053.0"}}}
